@import "../../assets/variables";
.wrap-service{
  height: 100%;
  background-color: $sand-color;

}
.service-com{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
}