@import "../../assets/variables";

.service-component {
  position: relative;
  width: 350px;
  height: 200px;
  padding: 30px;
  margin: 0;
  background-color: $service-component-background;

  &:nth-child(2n) {
    background-color: #F85936;
  }

  &:nth-child(3n) {
    background-color: #23BC4E;
  }

  &:nth-child(4n) {
    background-color: #049595;
  }

  &:nth-child(5n) {
    background-color: #2F5B9D;
  }

  &:nth-child(6n) {
    background-color: #413A92;
  }

  border-radius: 8px;
  color: white;
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 133%;

  cursor: pointer;
  transition: 0.3s all ease-in-out;
  &:hover {

    background: $secondary-text ;
  svg{
    opacity: 1;
  }
  }

  svg {
    transition: 0.5s all ease-in-out;

    opacity: 0;
    bottom: 40px;
    right: 40px;
    position: absolute;
  }
}