@import "../assets/variables";
@import "../assets/mixins";

.filter-title {
  @include title-block;
}

.search-exp {
  @include border-shadow;
  margin: 5px auto;
  padding: 0.5em;
  border: none;

  &:focus {
    border: none;
  }
}


.exp {
  display: grid;
  grid-template: auto 2fr /250px 3fr;
  grid-gap: 14px 14px;

  form {
    grid-column: 1/2;
    grid-row: 2/3;
  }
}

.exp-sidebar {
  grid-column: 1/3;
  grid-row: 1/2;
  .comp-search{

    form{

      box-sizing: border-box;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      align-items: center;
      button{
      margin-left: 14px;
        border-radius: 8px;
        border: none;
        width: 100px;
        height: 38px;
        background-color: $yellow-color ;
        @include border-shadow;


      }
      svg{
      }
    }
  }
}

.exp-content {
  margin-top: 6px;
  font-family: Roboto, sans-serif;
  grid-column: 2/3;
  grid-row: 2/3;

  .exp-block {
    border-radius: 8px;
    padding: 10px 25px;
    width: 100%;
    margin: 0 0 0 0;
    display: flex;
    flex-direction: column;
    &:hover {
      background-color: $grey-light;
      .exp_title{

        text-decoration: underline;
      }
    }

    .exp_title {
      margin: 0;
      padding: 0;
      font-size: 20px ;
      line-height: 1.4em;
    }

    .exp_text {
      margin: 0;
      padding: 0;
      font-size: $font-size-lower;

      ul {
        line-height: 1.4em;
        padding: 0;
      }
    }

    .exp_data {
      font-size: $font-size-lower;

      margin: 0;
     color: $border-color;
      font-weight: 500;
      ul {
        padding: 0;
        margin: 0;
        display: inline-flex;
        li{
          margin-right: 14px;
        }
      }
    }
  }
}

fieldset {
  max-width: 250px;
  border: none;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  right: 0;
  //height: 100%;
  @include border-shadow;
  padding-top: 40px;

  legend {
    background-color: white;
    padding: 0 5px;
    @include title-block;
  }

  label {
    padding: 5px;
    vertical-align: middle;
    border-radius: 8px;
    line-height: 1em;

    &:hover {
      background-color: $grey-light;
    }
  }

  input {
    border: 1px solid $black-color;
    background-color: $yellow-color;
    width: 24px;
    height: 24px;
    text-align: center;
    vertical-align: middle;
  }
}

.checkbox {

}