@import "../../assets/variables";

.header {
  background-color: $yellow-color;
  z-index: 99;
  font-size: $font-size;
  transition: all 0.3s ease-in-out;

  &.stickly {
    z-index: 99;
    background-color: white;
    width: 100%;
    position: fixed;
    padding: 0px 150px;
    font-size: $font-size-lower;
    box-shadow: 0px 0px 14px rgba(202, 194, 147, 0.5);
    opacity: 0.9;
    //height: 45px;
    a {
      opacity: 0.7;
      &:hover{
        background-color: $black-color;
        color: white;
      }
      border-radius: 4px;
    }

    ul {
      li:last-child {
        opacity: 0.7;
      }
    }

    .logo-kin {
      a {
        opacity: 1;
        background-color: transparent;

      }
    }
  }
}


.header-list {
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  padding: 15px 150px 10px;
  justify-content: space-between;
  align-content: center;
  align-items: center;

}


.header-nav {
  transition: all 0.3s ease-in-out;

  align-items: center;
  display: flex;
  flex-direction: row;
  align-content: center;
  font-family: Roboto, Montserrat, sans-serif;
  font-weight: 500;
  line-height: 21px;

  li {
    display: block;
    position: relative;
    // margin: 0 5px;
    text-decoration: none;
    list-style: none;
    height: 100%;
    transition: color 0.3s ease-in-out;
    white-space: nowrap;
    align-items: center;

    :hover {
      transition: all 0.3s ease-in-out;
      color: $red-color;
    }

    a {
      position: relative;
      transition: all 0.3s ease-in-out;
      color: $black-color;
      align-items: center;
      align-content: center;
      text-align: center;
      padding: 10px;
      margin-right: 20px;

      &:hover {
        z-index: 2;
        background-color: rgba(255, 255, 255, 0.38);
        border-radius: 4px;
        opacity: 1;

      }
    }
  }

  :last-child {

  }
}