$red-color: #ff0009;
$red-color-secondary: rgba(255, 0, 9, 0.15);
$white: #fff;
$yellow-color: #ffe001;
$green-color: #2AC769;
$black-color: #141719;
$footer-background-color: #1D1E26;
$border-shadow-color:#b1b1b1;
$border-color: rgb(149, 149, 149);
$grey-light: #F0F2F5;
$sand-color: #f9f3c8;
$service-component-background: #46b1ff;
$font-size: 17px;
$font-size-lower: 14px;
$font-size-label: 34px;
$font-size-medium: 17px;
$font-family: 'Roboto' , sans-serif;
$blue-color: #007EFF;
$secondary-text: #25282B;

//
//00A7E1;
//00171F