$red-color: #ff0009;
$white: #fff;
$yellow-color:  #FFE001;
$green-color: #2AC769;
$black-color: #141719;
$footer-background-color: #1D1E26;
$border-color: rgb(149, 149, 149);
$sand-color: #f9f3c8;
$service-component-background: #50E6FF;
$font-size: 16px;
$font-size-lower: 14px;
$font-size-label: 36px;
$font-size-medium: 18px;
$font-family: 'Roboto' , sans-serif;
$blue-color: #007EFF;
//
//00A7E1;
//00171F