$red-color: #ff0009;
$white: #fff;
$yellow-color:  #FFE001;
$green-color: #177232;
$black-color: #141719;
$footer-background-color: #1D1E26;
$border-color: rgb(149, 149, 149);
$sand-color: #F9F3C8;
$service-component-background: #50E6FF;
$font-size: 16px;
$font-size-lower: 14px;
$font-size-label: 48px;
$font-size-medium: 22px;
$font-family: 'Roboto' , sans-serif;
//
//00A7E1;
//00171F