@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "~normalize.css";
@import "assets/variables";
//@import "assets/skeleton.css";

*{
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: 'Montserrat', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
color: $black-color ;
  background-color: $white
}
ul{
  list-style: none;
}
a{
  text-decoration: none;

}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
