@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
@import "~normalize.css";
@import "assets/variables";
//@import "assets/skeleton.css";

* {
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
  margin: 0 auto;
  font-family: 'Montserrat', 'Roboto', 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $black-color;
  background-color: $white
}

ul {
  list-style: none;
}

a {
  text-decoration: none;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.button {
  font-family: Roboto, Montserrat, Helvetica, Arial, sans-serif;
  font-size: $font-size;
  text-transform: uppercase;
  padding: 0 40px;
  font-weight: 600;
  line-height: 50px;
  letter-spacing: .1rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: transparent;
  border-radius: 4px;
  //border: 1px solid #bbb;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  margin-right: 20px;
  transition: box-shadow 0.3s ease-in-out;

  text-align: center;

  &:hover {
    box-shadow: 0px 0px 8px rgba(212, 212, 212, 0.8);
  }

  &-first {
    background-color: #99E6FF;
  }

  &-secondary {
    background-color: #FFE000;
  }


  &-confirm {
    border: 1px solid #56DC7E;
    background-color: #56DC7E;
    color: $white;
  }

  &-push, &-push_clear {
    font-weight: normal;
    letter-spacing: normal;
    text-transform: none;
    width: 100%;
    text-align: center;
    line-height: 2rem;
    background-color: $blue-color;
    margin: 5px auto;
    color: $white;
padding: 0;
    &_clear {
      color: $red-color;
      background-color: transparent;

      &:hover {
        box-shadow: none;
        background-color: $red-color-secondary;
      }
    }
  }


  &-premium {
    box-sizing: border-box;
    border-radius: 4px;
    border: 2px solid $service-component-background;
    margin: 0;
    background-color: $service-component-background;
    color: $black-color;
    text-align: center;
    vertical-align: middle;

    &:hover {
      box-shadow: 0px 0px 8px $service-component-background;
    }

    &_f {
      border-radius: 4px;
      border: 2px solid $service-component-background;
      color: $service-component-background;
      vertical-align: middle;
      box-sizing: border-box;

      &:hover {
        box-shadow: 0px 0px 8px $service-component-background;
      }
    }

  }
}

.list-ul {
  margin-top: 0;
  padding-top: 0;

  :before {
    content: '✓';
    font-weight: 700;
    vertical-align: middle;
    color: $green-color;
  }

  li {
    font-weight: normal;
    line-height: 1.8rem;
    vertical-align: middle;
  }
}


